DJANGO_SECRET_KEY=api_gateway-dev-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
PORT=8000
USER_SERVICE_URL=http://localhost:8001
PRODUCT_SERVICE_URL=http://localhost:8002
ORDER_SERVICE_URL=http://localhost:8003
PAYMENT_SERVICE_URL=http://localhost:8004
SHIPPING_SERVICE_URL=http://localhost:8005
CHATBOT_SERVICE_URL=http://localhost:8006
